default:
  image: node:10.11.0
  cache:
    paths:
      - node_modules

stages:
  - build
  - test

install_dependencies:
  stage: build
  script:
    - apt-get update
    - apt-get install -y libcups2-dev
    - PUPPETEER_SKIP_DOWNLOAD=true npm install
  only:
    - merge_requests

tests:
  stage: test
  script:
    - npm run lint
    - npm test
  only:
    - merge_requests