[Unit]
Description=Moviik's printer software
ConditionFileIsExecutable=/usr/local/bin/node-v10.11.0-linux-armv7l/bin/node
ConditionFileIsExecutable=/usr/local/bin/node-v10.11.0-linux-armv7l/bin/npm

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/usr/local/bin/mik-printer
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games:/usr/local/bin/node-v10.11.0-linux-armv7l/bin"
ExecStart=/usr/local/bin/node-v10.11.0-linux-armv7l/bin/npm start
Restart=always
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=mik-dispenser.target