[Unit]
Description=Moviik's dispenser software
ConditionFileIsExecutable=/usr/local/bin/node-v10.11.0-linux-armv7l/bin/node
ConditionFileIsExecutable=/usr/local/bin/node-v10.11.0-linux-armv7l/bin/npm
Requires=network-online.target mik-printer.service
After=network-online.target mik-printer.service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/usr/local/bin
Environment="DISPLAY=:0"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games:/usr/local/bin/node-v10.11.0-linux-armv7l/bin"
ExecStart=bash -c ./MoviikDispenser-*
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target